@media only screen and (max-width: 1070px) {
  .main-menu {
    display: none;
  }
  .nav-menu {
    display: none;
  }
}
@media only screen and (min-width: 1070px) {
  .main-menu_hidden {
    display: none;
  }
  .nav-menu_hidden {
    display: none;
  }
  .ged-logo_hidden {
    display: none;
  }
  .toggle-menu {
    display: none;
  }
}
