@padding-for-sprite: 20px;
@sprite: url("img/header-icons.png");

html {
  font-size: 100%;
}
body {
  margin: 0 auto;
}

@import "header/header.less";
@import "main-menu/main-menu.less";
@import "nav-menu/nav-menu.less";
@import "ged-logo/ged-logo.less";
@import "ged-logo/_nav/ged-logo_nav.less";
@import "absolut-logo/absolut-logo.less";
@import "banner/_menu/banner-menu.less";
@import "link-dashed/link-dashed.less";
@import "link-special/link-special.less";
@import "sticky/sticky.less";
@import "ged-logo/_hidden/ged-logo_hidden.less";
@import "toggle-menu/toggle-menu.less";
@import "main-menu/_hidden/main-menu_hidden.less";
@import "nav-menu/_hidden/nav-menu_hidden.less";

