html {
  font-size: 100%;
}
body {
  margin: 0 auto;
}
.header {
  background-color: #000;
}
@media only screen and (max-width: 1070px) {
  .main-menu {
    display: none;
  }
}
.main-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.main-menu__item {
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
}
.main-menu__link {
  color: #aeafa5;
  text-decoration: none;
  font-size: 1.2rem;
}
.main-menu__link:hover,
.main-menu__link:focus,
.main-menu__link:active {
  color: #fdfef8;
}
.main-menu__link_active {
  color: #fdfef8;
  font-size: 1.25rem;
  font-weight: 700;
}
.link-advert,
.link-register,
.link-enter {
  padding-left: 20px;
}
.link-advert:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  left: 10px;
  background-image: url("img/header-icons.png");
  background-repeat: no-repeat;
  background-position: -65px 5px;
}
.link-register:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 10px;
  background-image: url("img/header-icons.png");
  background-repeat: no-repeat;
  background-position: 3px -65px;
}
.link-enter:before {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 10px;
  background-image: url("img/header-icons.png");
  background-repeat: no-repeat;
  background-position: 5px -33px;
}
@media only screen and (max-width: 1070px) {
  .nav-menu {
    display: none;
  }
}
.nav-menu {
  background-color: #3a3a43;
  display: flex;
  vertical-align: middle;
}
.nav-menu__item {
  display: inline-block;
  font-size: 1.25rem;
  padding: 0 0.5em;
  margin-top: 1em;
  position: relative;
}
.nav-menu__link {
  color: #fff;
  text-decoration: none;
}
.nav-link_active {
  color: #ffcc00;
  padding-bottom: 10px;
  border-bottom: 3px solid #ffcc00;
}
.ged-logo {
  display: inline-block;
  width: 200px;
}
.ged-logo_nav {
  margin-left: 3.5em;
}
.absolut-logo:hover .cls-1 {
  fill: #5ebcfb;
}
.banner_menu {
  margin: auto;
}
.link_dashed {
  border-bottom: 2px dotted #fff;
}
.link_special {
  color: #f97641;
  padding-left: 20px;
}
.link_special:before {
  content: '';
  width: 20px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 10px;
  background-image: url("img/header-icons.png");
  background-repeat: no-repeat;
  background-position: 0px -110px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.ged-logo_hidden {
  padding: 1em;
}
.toggle-menu {
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 20px;
  margin-top: 0;
  right: 20px;
}
.toggle-menu span:after,
.toggle-menu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}
.toggle-menu span:after {
  top: 18px;
}
.toggle-menu span {
  position: relative;
  display: block;
}
.toggle-menu span,
.toggle-menu span:after,
.toggle-menu span:before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
.toggle-menu.on span {
  background-color: transparent;
}
.toggle-menu.on span:before {
  -webkit-transform: rotate(45deg) translate(-1px, 0px);
  -ms-transform: rotate(45deg) translate(-1px, 0px);
  -o-transform: rotate(45deg) translate(-1px, 0px);
  -moz-transform: rotate(45deg) translate(-1px, 0px);
  transform: rotate(45deg) translate(-1px, 0px);
}
.toggle-menu.on span:after {
  -webkit-transform: rotate(-45deg) translate(6px, -7px);
  -ms-transform: rotate(-45deg) translate(6px, -7px);
  -o-transform: rotate(-45deg) translate(6px, -7px);
  -moz-transform: rotate(-45deg) translate(6px, -7px);
  transform: rotate(-45deg) translate(6px, -7px);
}
.main-menu_hidden {
  padding: 20px 0;
  display: none;
  position: relative;
  top: 20;
}
.nav-menu_hidden {
  padding: 20px 0;
  margin: 0;
  display: none;
  position: relative;
  top: 20;
}
.nav-menu_hidden__list {
  padding-left: 5px;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content {
  max-width: 976px;
  min-width: 740px;
}
.sidebar {
  width: 250px;
  background-color: #ebebed;
  margin: 0 1em;
  padding: 2.5em 0;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #cccccc;
}
.sidebar-item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-bottom: 1px solid #cccccc;
}
.sidebar-item__header {
  margin: 10px 0;
  text-align: left;
}
.sidebar-item__text {
  margin: 0;
}
.specials {
  border: 1px solid #ccc;
  margin: 2em 1em;
}
.main-action {
  margin: 1em 2em;
  border-bottom: 1px solid #ccc;
}
.main-action_main {
  display: flex;
  padding: 1.5em 0;
}
.main-action__img {
  flex: 2;
}
.main-action__text {
  flex: 3;
  padding: 0 1.5em;
}
.breadcrumb {
  list-style: none;
  padding: 0;
}
.breadcrumb__item {
  display: inline;
  color: #0072be;
}
.breadcrumb__link {
  color: #0072be;
  text-decoration: none;
}
.breadcrumb__link:hover {
  text-decoration: underline;
}
.breadcrumb__item_active:before {
  content: ">";
  padding: 8px;
  color: #0072be;
}
.main-action_top {
  display: flex;
}
.main-action_top__left-part {
  flex: 5;
}
.main-action_top__header {
  color: #2e353a;
}
.date {
  background-color: #ff5f47;
  width: 150px;
  height: 30px;
  border-radius: 4px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
.date_on-image {
  position: absolute;
  top: 0;
  right: 5px;
  width: 130px;
  height: 25px;
  line-height: 25px;
}
.counter {
  flex: 2;
}
.counter__days {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
  color: #424242;
  margin: 0.5em auto;
}
.counter__time {
  font-size: 1.5rem;
  text-align: center;
  background-color: #424242;
  display: block;
  margin: 0 auto;
  width: 120px;
  padding: 10px;
  border-radius: 4px;
  color: #ffcc02;
}
.counter_only-days {
  color: #fff;
  letter-spacing: 1rem;
  padding-left: 8px;
  padding-bottom: 10px;
  line-height: 2rem;
}
.counter_only-days__text {
  padding-top: 10px;
}
.counter_only-days:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("img/counter.png");
  background-repeat: no-repeat;
  top: 55px;
  z-index: -1;
  left: 0;
}
.phone {
  display: inline-block;
  background-color: #62c741;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5em;
  margin: 0 0.5em;
  border-radius: 8px;
}
.actions {
  margin: 1em 2em;
}
.action-item {
  display: flex;
  margin: 1em 0;
}
.action-item__img {
  flex: 3;
  position: relative;
  z-index: -1;
}
.action-item__text {
  flex: 5;
  padding: 1em;
}
.action-item__link {
  text-decoration: none;
}
.action-item__text_header {
  margin: 0;
  color: #424242;
}
.action-item__counter {
  flex: 1;
  padding-top: 0.5em;
  color: #424242;
  position: relative;
}
.other-actions {
  margin: 2em 1em;
}
.other-actions-block {
  display: flex;
  flex-flow: row wrap;
}
.other-actions__item {
  flex: 0 0 30%;
  height: 400px;
  border: 1px solid #ccc;
  margin-right: 5px;
  margin-bottom: 15px;
}
.other-actions__item-padding {
  padding-left: 10px;
}
