html {
  font-size: 100%;
}
body {
  margin: 0 auto;
}
header {
  background-color: #000;
}
.main-menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.menu-item {
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
}
.main-menu_menu-link {
  color: #aeafa5;
  text-decoration: none;
  font-size: 1.2rem;
}
.main-menu_menu-link:hover,
.main-menu_menu-link:focus,
.main-menu_menu-link:active {
  color: #fdfef8;
}
.menu-link_active {
  color: #fdfef8;
  font-size: 1.25rem;
  font-weight: 700;
}
.link-advert,
.link-register,
.link-enter {
  padding-left: 20px;
}
.link-advert:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  left: 10px;
  background-image: url("../img/header-icons.png");
  background-repeat: no-repeat;
  background-position: -65px 5px;
}
.link-register:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  left: 10px;
  background-image: url("../img/header-icons.png");
  background-repeat: no-repeat;
  background-position: 3px -65px;
}
.link-enter:before {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 10px;
  background-image: url("../img/header-icons.png");
  background-repeat: no-repeat;
  background-position: 5px -33px;
}
